body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.ball {
  --size: 100;
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  border-radius: 100%;
  background-image: linear-gradient(
    120deg,
    #f6d365 0%,
    #fda085 100%
  );
}

.ballShadow {
  --size: 100;
  width: calc(var(--size) * 0.3px);
  height: calc(var(--size) * 0.75px);
  background: rgba(20, 20, 20, 0.1);
  box-shadow: 0 0 20px 35px rgba(20, 20, 20, 0.1);
  border-radius: 30px / 140px;
  transform: scaleY(0.2);
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  bottom: 40px;
}

.sider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00adb5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00adb5;
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
